body {
  font-family: "Roboto", sans-serif;
}

:root {
  --container-width: 1080px;
}
/* css header */
.container-fluid {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}
.header__logo {
  width: 200px;
}
.header__logo img {
  width: 100%;
}
