body {
  font-family: "Roboto", sans-serif;
}

:root {
  --container-width: 1080px;
}
/* css header */
.header__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 999;
}

.container-fluid {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  /* padding: 0 15px; */
  display: flex;
  /* justify-content: space-between; */
  height: 90px;
  border-bottom: 1px solid #6c6c6c;
}
.header__logo {
  width: 200px;
  /* padding-right: 150px; */
  padding-right: 20px;
}
.header__logo img {
  max-height: 90px;
  display: block;
}
.header__menu ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-flow: row wrap;

  height: 100%;
  line-height: 1.6;
}
.header__menu ul li {
  padding: 0 35px;
}
.header__menu ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

/* slider  */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.mySlides img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  position: relative;
  display: block;
}
.list-dot {
  position: absolute;
  bottom: 10%;

  width: 100%;
  z-index: 999;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out; /* Thêm timing function */
}

@keyframes fade {
  0% {
    opacity: 0.4;
    transform: translateX(-100%); /* Bắt đầu từ vị trí bên ngoài màn hình */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Di chuyển vào màn hình */
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/* css aroww  */
.arrow-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* .arrow {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  pointer-events: none;
}

.arrow a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.mySlides:hover .arrow {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
} */

.pss-prev {
  left: 0;
  position: absolute;
  top: 40%;
  font-size: 30px;
  cursor: pointer;
}

.pss-next {
  right: 0;
  top: 40%;
  font-size: 30px;
  position: absolute;
  cursor: pointer;
}
