body {
  font-family: "Roboto", sans-serif;
}

:root {
  --container-width: 1080px;
}
/* css header */
.header__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 999;
}

.container-fluid {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  /* padding: 0 15px; */
  display: flex;
  /* justify-content: space-between; */
  height: 90px;
  border-bottom: 1px solid #565555;
}
.header__logo {
  width: 200px;
  /* padding-right: 150px; */
  padding-right: 30px;
}
.header__logo img {
  max-height: 90px;
  display: block;
}
.header__menu ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-flow: row wrap;

  height: 100%;
  line-height: 1.6;
}
.header__menu ul li {
  padding: 0 30px;
}
.header__menu ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.header__menu ul li a:hover {
  color: #fa4d09;
}
/* submenu  */
.header__menu #sub-menu-parent-1 {
  position: relative;
}
.header__menu #sub-menu-parent-1 .sub-menu-1 {
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 3px;
  width: 220px;
  height: auto;
  background-color: #ffffff;
  padding: 15px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
}
.header__menu #sub-menu-parent-1 .sub-menu-1 li {
  padding: 10px 20px;
  border-bottom: 1px solid #ebebeb;
  list-style: none;
  text-align: left;
}
.header__menu #sub-menu-parent-1 .sub-menu-1 li:last-child {
  border-bottom: none;
}
.header__menu #sub-menu-parent-1 .sub-menu-1 li a {
  color: #888787;
}
/* khi hover vào thẻ cha thì thẻ con sẽ hiện ra */
.header__menu #sub-menu-parent-1:hover .sub-menu-1 {
  display: block;
}
/* css để có 1 tam giác nối vs thẻ cha và con  */
.header__menu #sub-menu-parent-1 .sub-menu-1::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 45px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #ffffff;
}
.header__menu #sub-menu-parent-1 .sub-menu-1 li a:hover {
  color: #fa4d09;
}
/* css input search  */
.header__menu ul li:last-child {
  padding: 0;

  padding-top: 5px;
  position: relative;
}
.header__menu ul li:last-child a i {
  font-size: 1.1rem;
}
.header__menu ul li:last-child .search-box {
  position: absolute;
  top: 100%;
  right: -16px;
  width: 260px;
  height: auto;
  background-color: #ffffff;
  padding: 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  display: none;
}
/* tạo tam giác nối vs thẻ cha và con  */
.header__menu ul li:last-child .search-box::before {
  content: "";
  position: absolute;
  top: -9px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #ffffff;
}
/* cho ô input và icon search nằm cạnh nhau  cung 1 hàng  */
.header__menu ul li:last-child .search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu ul li:last-child .search-box input[type="submit"] {
  color: #ffffff;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header__menu ul li:last-child .search-box i {
  height: 30px;
  width: 30px;
  /* width: 40px; */
  font-size: 1.1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #888787;
  cursor: pointer;
}
.header__menu ul li:last-child .search-box button {
  height: 39px;
  width: 48px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888787;
  cursor: pointer;
  border: none;
  background-color: #c74b1a;
}
.header__menu ul li:last-child .search-box button i {
  font-size: 1.3rem;
  color: #ffffff;
}
.header__menu ul li:last-child .search-box input {
  width: 100%;
  height: 38px;
  border: 1px solid #ebebeb;
  /* padding: 0 10px; */
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* cho chữ placholder nằm giữa ô input   */

  padding: 0 10px;
}

.header__menu ul li:last-child .search-box input:focus {
}
/* khi hover vào thẻ cha thì thẻ con sẽ hiện ra */
.header__menu ul li:last-child:hover .search-box {
  display: block;
}
/* slider  */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.mySlides img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  position: relative;
  display: block;
}
.list-dot {
  position: absolute;
  bottom: 10%;

  width: 100%;
  z-index: 999;
}

.active,
.dot:hover {
  background-color: #ffffff;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out; /* Thêm timing function */
}

@keyframes fade {
  0% {
    opacity: 0.4;
    transform: translateX(-100%); /* Bắt đầu từ vị trí bên ngoài màn hình */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Di chuyển vào màn hình */
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/* css aroww  */
.arrow-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* .arrow {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  pointer-events: none;
}

.arrow a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.mySlides:hover .arrow {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
} */

.pss-prev {
  left: 2%;
  position: absolute;
  top: 40%;
  font-size: 25px;
  position: absolute;
  cursor: pointer;

  transition: opacity 0.3s ease;
  opacity: 0;
  /* cho nó bo tròn xung quanh mũi tên  */
  /* display: block; */
  width: 40px;
  border-radius: 50%;
  /* background-color: brown; */
  border: 2px solid #ffffff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.pss-prev:hover {
  background-color: rgba(1, 49, 93, 0.8);
  opacity: 1;
}
.pss-next {
  right: 2%;
  top: 40%;
  font-size: 25px;
  position: absolute;
  cursor: pointer;

  transition: opacity 0.3s ease;
  opacity: 0;
  /* cho nó bo tròn xung quanh mũi tên  */
  /* display: block; */
  width: 40px;
  border-radius: 50%;
  /* background-color: brown; */
  border: 2px solid #ffffff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.pss-next:hover {
  background-color: rgba(1, 49, 93, 0.8);
  opacity: 1;
}
/* khi hover vào thẻ cha thì thẻ con sẽ hiện ra */
.slideshow-container:hover .pss-prev,
.slideshow-container:hover .pss-next {
  opacity: 1;
}

/* css content3 iitem */

.onhover .sec-3-col.active {
  max-width: 40%;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

.onhover .sec-3-col:not(.active) {
  max-width: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.row.row-collapse.row-full-width.align-equal.sec-3-row:hover .sec-3-col {
  transition: all 0.3s ease-in-out;
}

.row.row-collapse.row-full-width.align-equal.sec-3-row:hover .sec-3-col.active {
  max-width: 40%;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

.row.row-collapse.row-full-width.align-equal.sec-3-row:hover
  .sec-3-col:not(.active) {
  max-width: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.row.row-collapse.row-full-width.align-equal.sec-3-row:hover .banner-bg {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.row.row-collapse.row-full-width.align-equal.sec-3-row:hover
  .sec-3-col:hover
  .banner-bg {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
#banner-1637885546 {
  padding-top: 80vh;
}
#banner-1637885546 .bg.bg-loaded {
  background-image: url(https://avahome.com.vn/wp-content/uploads/2022/08/1-5.jpg);
}
#banner-1637885546 .overlay {
  background-color: rgba(0, 0, 0, 0.355);
}
#text-box-2138144965 {
  width: 93%;
}
#text-box-2138144965 .text {
  font-size: 100%;
}
@media (min-width: 550px) {
  #text-box-2138144965 {
    width: 66%;
  }
}
#text-box-1122198304 {
  width: 99%;
}
#text-box-1122198304 .text {
  font-size: 100%;
}
@media (min-width: 550px) {
  #text-box-1122198304 {
    width: 62%;
  }
}
#text-box-1122198304 {
  width: 99%;
}
#text-box-1122198304 .text {
  font-size: 100%;
}
@media (min-width: 550px) {
  #text-box-1122198304 {
    width: 62%;
  }
}
#banner-529168136 {
  padding-top: 80vh;
}
#banner-529168136 .bg.bg-loaded {
  background-image: url(https://avahome.com.vn/wp-content/uploads/2022/03/1-2-1024x768.jpg);
}
#banner-529168136 .overlay {
  background-color: rgba(0, 0, 0, 0.355);
}
